<div class="h-screen flex justify-center items-center bg-gray-100">
  <form [className]="'w-1/3 flex justify-center p-2 border flex-col gap-2'" [formGroup]="loginFormGroup" (ngSubmit)="loginUser()">
    <h2 class="mb-2 mt-0 text-2xl font-medium leading-tight text-primary text-center">
      Welcome to the address-app - Login
    </h2>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-icon matSuffix>user</mat-icon>
      <mat-hint>Type in your email</mat-hint>
    </mat-form-field>
    <div class="flex gap-2">
      <mat-error *ngIf="loginFormGroup.get('email')?.hasError('required') && loginFormGroup.get('email')?.touched">Email field is required</mat-error>
      <mat-error *ngIf="loginFormGroup.get('email')?.hasError('email') && loginFormGroup.get('email')?.touched">This is not email</mat-error>
    </div>
    <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint>Type in your password</mat-hint>
    </mat-form-field>
    <div class="flex gap-2">
      <mat-error *ngIf="loginFormGroup.get('password')?.hasError('required') && loginFormGroup.get('password')?.touched">Password field is required</mat-error>
    </div>
    <div class="flex justify-center items-center" *ngIf="loginError">
      <mat-error>There was problem when logging you!</mat-error>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginFormGroup.valid">Login</button>
    <p class="text-sm text-center">If you do not have an account: <a routerLink="/auth/register" class="font-bold">Register an account!</a></p>
  </form>
</div>
